.tasklist {
  padding: 8px;
  background-color: #b8c0b2;
  border-radius: 2px;
}

.tasklist .title {
  padding: 4px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}

.tasklist .content .empty-list {
  color: rgba(3, 75, 3, 0.384);
  text-align: center;
  border: 1px dashed rgba(3, 75, 3, 0.384);
  border-radius: 4px;
  padding: 4px;
}

.tasklist .btn {
  margin-top: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 3px;
  color: white;
  background: rgba(3, 75, 3, 0.284);
  transition: background-color 0.1;
}
.tasklist .btn:hover {
  background-color: rgba(40, 20, 20, 0.3);
  cursor: pointer;
}
